.list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.item {
  cursor: pointer;
  width: 280px;
  height: 250px;
}

.item:hover,
.item:focus {
  scale: 1.05;
}
